@model IEnumerable<GoaQuickTrips.BookingDetail>

@{
    ViewBag.Title = "BookedCustomer";
}

<h2>BookedCustomer</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Booking.BookingID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking.BookDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Booking.StatusID)
        </th>
        <th>s
 </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Booking.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Booking.BookDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Booking.StatusID)
            </td>
            <td>@Html.ActionLink("Confirm", "Confirm", new { id = item.BookingID }) |
</td>
        </tr>
        <tr>
            <table class="table-bordered">
                <tr>
                    @foreach (var  bd in item.boo)
                {
                        <td>Apartment:@Html.DisplayFor(modelItem => bd.ApartmentID)</td>
                        <td>Check in:@Html.DisplayFor(modelItem => bd.CheckIn)</td>
                        <td>Check Out:@Html.DisplayFor(modelItem => bd.CheckOut)</td>
                        <td>No Of guest:@Html.DisplayFor(modelItem => bd.NoOfGuests)</td>
                        <td>Price:@Html.DisplayFor(modelItem => bd.Price)</td>


                    }
                </tr>
            </table>
        </tr>
    }

</table>
