@model IEnumerable<GoaQuickTrips.Apartment>

@{
    ViewBag.Title = "Index";
}
<style>

</style>

<h2>Index</h2>
<div class="container">
    <table class="table">
        <tr>
            <th>
                Name
            </th>
           
            <th>
               No Of Guests
            </th>
            <th>
                Address
            </th>
            <th>
               Email
            </th>
            <th>
             Phone
            </th>
            
         
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.NoOfGuests)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                
              
                <td>
                    @Html.ActionLink("Block", "AddBlockDates", new { id = item.ApartmentID }) |
                   
                </td>
            </tr>
        }

    </table>
</div>