@model PagedList.IPagedList<GoaQuickTrips.Apartment>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}
<style>
    
    .pull-right {
        margin-right: 50px !important;
    }

    a {
    }

        a:visited {
            color: #0254EB
        }

     

    .morecontent span {
        display: none;
    }

    .comment {
        width: 400px;
        background-color: #f0f0f0;
        margin: 10px;
    }
</style>

<h2>Index</h2>
<div class="container">
    <table class="table">
        <tr>
            <th>
               Name
            </th>
            <th>
               Description
            </th>
            <th>
               Rules
            </th>
            <th>
              Notes
            </th>
            <th>
               No Of Guests
            </th>
            <th>
               Address
            </th>
            <th>
               Email
            </th>
            <th>
               Phone No
            </th>
            <th>
                Location Info
            </th>
            <th>
                Cancellation Policy
            </th>
            <th>
               Lat
            </th>
            <th>
                Lang
            </th>
          
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="truncate">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="truncate">
                    @Html.DisplayFor(modelItem => item.Rules)
                </td>
                <td class="truncate">
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td> 
                    @Html.DisplayFor(modelItem => item.NoOfGuests)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationInfo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CancellationPolicy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lang)
                </td>
               
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ApartmentID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ApartmentID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ApartmentID })
                </td>
            </tr>
        }

    </table>
</div>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, LedgerDetailsID = ViewBag.LedgerDetailsID }))

<script>
  

</script>
