@model PagedList.IPagedList<GoaQuickTrips.Apartment>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}
<style>
    
    .pull-right {
        margin-right: 50px !important;
    }

    a {
    }

        a:visited {
            color: #0254EB
        }

     

    .morecontent span {
        display: none;
    }

    .comment {
        width: 400px;
        background-color: #f0f0f0;
        margin: 10px;
    }
</style>

<h2>Apartments</h2>
<div class="container">
    <table class="table">
        <tr>
            <th>
               Name
            </th>
            
            <th>
               Max Guests
            </th>
            <th>
               Address
            </th>
            <th>
               Email
            </th>
            <th>
               Phone No
            </th>
           
          
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
               
               
                <td> 
                    @Html.DisplayFor(modelItem => item.NoOfGuests)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                
               
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ApartmentID })  |
                    @Html.ActionLink("Block", "AddBlockDates", new { id = item.ApartmentID })
                    
                </td>
            </tr>
        }

    </table>
</div>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, LedgerDetailsID = ViewBag.LedgerDetailsID }))

<script>
  

</script>
