@model IEnumerable<GoaQuickTrips.Cart>
<style>
    .banner {
        margin-top: 100px;
        padding: 30px;
        z-index: 50;
        background: rgba(116, 129, 131, 0.8);
        color: white;
        border-radius: 8px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    }
    .Aptimg{
        width:70px;
        height:70px;
    }
</style>


<div class="container banner">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Apartment</th>
                        <th>Guests</th>
                        <th class="text-right">Price</th>
                        <th class="text-right">From</th>
                        <th class="text-right">To</th>
                        <th class="text-right">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    @{decimal total = 0; }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="media-body">
                                        <h4 class="media-heading"><img class="Aptimg" src="/Images/@item.Apartment.Images.First().Path"/></h4>
                                       <span>@item.Apartment.Images.First().Name</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h4 class="media-heading">@item.Apartment.Name</h4>
                            </td>
                            <td class="col-sm-1 col-md-1" style="text-align: center">
                               @Html.DisplayFor(modelItem => item.NoOfGuests)
                            </td>
                            <td class="col-sm-1 col-md-1 text-right">
                                <strong>@Html.DisplayFor(modelItem => item.OrigPrice)</strong>
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.CheckIn)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.CheckOut)
                            </td>
                            <td class="text-right">
                                Rs. @(item.NoOfNights * item.OrigPrice)
                            </td>
                                @{   total += (decimal)(item.OrigPrice*item.NoOfNights); }
                            <td class="col-sm-1 col-md-1">                               
                                    @Html.ActionLink(" ", "Delete", new { id = item.CartID }, new { @class = "fa fa-times-circle" })                         
                            </td>
                        </tr>
                    }

                 
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right"><h3><strong>Rs. @total</strong></h3></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a Href="~/Home/Index" class="btn btn-success">
                                Add more <span class="fa fa-shopping-basket"></span>
                            </a>                            

                        </td>
                        <td>
                            <a Href="~/Carts/AddCustomer" class="btn btn-success">
                                Checkout <span class="fa fa-check-square-o"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>

