@model PagedList.IPagedList<GoaQuickTrips.Apartment>
@using PagedList.Mvc;

<style type="text/css">
    .pull-right{
        margin-right:50px !important;
    }
    

        a:visited {
            color: #0254EB
        }

        a.morelink {
            text-decoration: none;
            outline: none;
        }

    .morecontent span {
        display: none;
    }

 

    #map {
        height: 150px;
        width: 200px;
        border:2px;
        border-color:darkblue;

    }
    table {
        page-break-inside: auto
    }

    tr {
        page-break-inside: avoid;
        page-break-after: auto
    }

    thead {
        display: table-header-group
    }

    tfoot {
        display: table-footer-group
    }

    .image {
        height: 150px;
        width: 300px;
    }
    .profile-sidebar {
        color: white;
        margin-top: 20px;
        padding: 30px;
        z-index: 80;
        background: rgba(0, 0, 0, 0.9);
        border-radius: 8px;
    }
    .profile-content {
        color: white;
        margin-top: 20px;
        padding: 30px;
        z-index: 80;
        background: rgba(0, 0, 0, 0.9);
        border-radius: 8px;
       // -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
       // box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    }

    .prod_page{
        border:2px;
        border-color:cadetblue;
    }

</style>
<header>

</header>
<br />
<br />
<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <center>
                    <div id="map">

                    </div>
                    <br />
                  
                    <table>
                        @using (Html.BeginForm((string)ViewBag.ReturnAction, "Home", FormMethod.Post))
                        {

                            <tbody>
                                <tr>
                                    <td> <input type="date" class="form-control input-md" name="check_in" id="check_in" placeholder="Check in"></td>
                                </tr>
                                <tr><td><input type="date" class="form-control  input-md" name="check_out" id="check_out" placeholder="Check out"></td></tr>
                                <tr>
                                    <td>

                                        <select name='guest' id="guest" class="form-control  input-md">
                                            <option value=''>Guest</option>
                                            <option value='1'>1+</option>
                                            <option value='2'>2+</option>
                                            <option value='3'>3+</option>
                                            <option value='4'>4+</option>
                                            <option value='5'>5+</option>
                                            <option value='6'>6+</option>
                                            <option value='7'>7+</option>
                                            <option value='8'>8+</option>
                                            <option value='9'>9+</option>
                                            <option value='10'>10+</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td> <input type="submit" value="Search" class="btn btn-default input-sm" /></td>
                                </tr>
                            </tbody>

                        }
                    </table>
                   
                </center>
                


            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">

             @foreach (GoaQuickTrips.Apartment item in Model)
             { <div class="prod_page">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-xs-12 col-sm-12">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="product_item_view">
                                            <img src="/Images/@item.Images.First().Path" class="img-responsive" />
                                        </div>
                                    </div>

                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <div class="product_detail_view">
                                            <div class="pro_heading">
                                              <b><big>@Html.DisplayFor(modelItem => item.Name)</big></b>
                                            </div>



                                            <div class="">
                                                No Of Guest:  @Html.DisplayFor(modelItem => item.NoOfGuests)
                                            </div>

                                            <div class="more">
                                                Description: @Html.DisplayFor(modelItem => item.Description)
                                            </div>
                                            <div class="more">
                                                 Notes: @Html.DisplayFor(modelItem => item.Notes)
                                            </div>
                                            <div class="more">
                                                Rules: @Html.DisplayFor(modelItem => item.Rules)
                                            </div>
                                            <div class="pro_rate">
                                              @Html.DisplayFor(modelItem => item.Prices)
                                               
                                            </div>
                                            <div class="pull-right">
                                                @Html.ActionLink("Grab it Now", "ApartmentDetail", new { id = item.ApartmentID })
                                            </div>
                                          
                                        </div>
                                    </div>
                                  



                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                }
                 <center>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("ApartmentsView",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, ApartmentID = ViewBag.ApartmentID }))
    </center>

            </div>
        </div>

        </div>
   
</div>



        <script>
           
    function initMap() {
        var options =
            {
                Zoom: 10,
                Center: { lat: 15.2993, lng: 74.1240 }
            }

        var map = new google.maps.Map(document.getElementById('map'), options);

        google.maps.event.addListener(map, 'click', function (event) {

            addMarker({ coords: event.latlng });
        });


        function addMarker(coords) {
            var marker = new google.maps.Marker({
                position: coords,
                map: map
            });
        }

            }



           
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAC6Yyjmk9tLMPEe6ID2rmzwcYPCHKYrZU&callback=initMap">
</script>
