@model GoaQuickTrips.Apartment

@{
    ViewBag.Title = "Details";
}
<style>


    * {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: large;
    }


    ul {
        list-style-type: none;
    }

    .amli {
        display: block;
        width: 25%;
        float: left;
    }

    .slide {
        height: 300px;
    }

    .flowDiv {
        height: 350px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .comments-container {
        margin: 60px auto 15px;
        width: 768px;
    }

        .comments-container h1 {
            font-size: 36px;
            color: #283035;
            font-weight: 400;
        }

            .comments-container h1 a {
                font-size: 18px;
                font-weight: 700;
            }

    .comments-list {
        margin-top: 30px;
        position: relative;
    }


        .comments-list:before {
            content: '';
            width: 2px;
            height: 100%;
            background: #c7cacb;
            position: absolute;
            left: 32px;
            top: 0;
        }

        .comments-list:after {
            content: '';
            position: absolute;
            background: #c7cacb;
            bottom: 0;
            left: 27px;
            width: 7px;
            height: 7px;
            border: 3px solid #dee1e3;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }

    .reply-list:before, .reply-list:after {
        display: none;
    }

    .reply-list li:before {
        content: '';
        width: 60px;
        height: 2px;
        background: #c7cacb;
        position: absolute;
        top: 25px;
        left: -55px;
    }


    .comments-list li {
        margin-bottom: 15px;
        display: block;
        position: relative;
    }

        .comments-list li:after {
            content: '';
            display: block;
            clear: both;
            height: 0;
            width: 0;
        }

    .reply-list {
        padding-left: 88px;
        clear: both;
        margin-top: 15px;
    }

    .comments-list .comment-avatar {
        width: 65px;
        height: 65px;
        position: relative;
        z-index: 99;
        float: left;
        border: 3px solid #FFF;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        overflow: hidden;
    }

        .comments-list .comment-avatar img {
            width: 100%;
            height: 100%;
        }

    .reply-list .comment-avatar {
        width: 50px;
        height: 50px;
    }

    .comment-main-level:after {
        content: '';
        width: 0;
        height: 0;
        display: block;
        clear: both;
    }

    .comments-list .comment-box {
        width: 680px;
        float: right;
        position: relative;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
        -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
        box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    }

        .comments-list .comment-box:before, .comments-list .comment-box:after {
            content: '';
            height: 0;
            width: 0;
            position: absolute;
            display: block;
            border-width: 10px 12px 10px 0;
            border-style: solid;
            border-color: transparent #FCFCFC;
            top: 8px;
            left: -11px;
        }

        .comments-list .comment-box:before {
            border-width: 11px 13px 11px 0;
            border-color: transparent rgba(0,0,0,0.05);
            left: -12px;
        }

    .reply-list .comment-box {
        width: 610px;
    }

    .comment-box .comment-head {
        background: #FCFCFC;
        padding: 10px 12px;
        border-bottom: 1px solid #E5E5E5;
        overflow: hidden;
        -webkit-border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
    }

        .comment-box .comment-head i {
            float: right;
            margin-left: 14px;
            position: relative;
            top: 2px;
            color: #A6A6A6;
            cursor: pointer;
            -webkit-transition: color 0.3s ease;
            -o-transition: color 0.3s ease;
            transition: color 0.3s ease;
        }

            .comment-box .comment-head i:hover {
                color: #03658c;
            }

    .comment-box .comment-name {
        color: #283035;
        font-size: 14px;
        font-weight: 700;
        float: left;
        margin-right: 10px;
    }

        .comment-box .comment-name a {
            color: #283035;
        }

    .comment-box .comment-head span {
        float: left;
        color: #999;
        font-size: 13px;
        position: relative;
        top: 1px;
    }

    .comment-box .comment-content {
        background: #FFF;
        padding: 12px;
        font-size: 15px;
        color: #595959;
        -webkit-border-radius: 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px;
        border-radius: 0 0 4px 4px;
    }

    .comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {
        color: #03658c;
    }

        .comment-box .comment-name.by-author:after {
            content: 'autor';
            background: #03658c;
            color: #FFF;
            font-size: 12px;
            padding: 3px 5px;
            font-weight: 700;
            margin-left: 10px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }


    .section-details {
        background-color: white !important;
        border: 5px;
        padding: 50px;
    }




    .section-white {
        padding: 10px 0;
    }

    .section-white {
        background-color: #fff;
        color: #555;
    }
</style>
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@



<div class=" ">
    <header class="masthead text-center text-white">

        <h1 style="margin:0px;" class="masthead-content">@Model.Name</h1>
        <div class="bg-circle-1 bg-circle "></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
        <h1 class="masthead-content">
            Book Now at just Rs. &nbsp;
            @(Session["AptPrice"].ToString())
        </h1>
        @*<a href="javascript: history.go(-1)" class="ButtonA">Back</a>*@
        @Html.ActionLink("Send Query", "CustomerForm", new { id = Model.ApartmentID }, new { @class = "btn-warning pull-right masthead-content" })

        <p>&nbsp;</p>

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            @*<ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

                @for (int i = 1; i < Model.Images.Count; i++)
                {
                    <li data-target="#myCarousel" data-slide-to="@(i)"></li>
                }
            </ol>*@

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                @{ int j = 0;}
                @foreach (var item in Model.Images)
                {
                    if (j == 0)
                    {
                        <div class="item active">
                            <img src="/img/@item.Path" alt="@item.Name" style="max-height:330px; margin-left:auto; margin-right:auto;">
                        </div>
                    }
                    else
                    {
                        <div class="item">
                            <img src="/img/@item.Path" alt="@item.Name" style="max-height:350px; margin-left:auto; margin-right:auto;">
                        </div>
                    }
                    j++;
                }


            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span style="position: relative; top:50%;" class="fa fa-hand-o-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span style="position: relative; top:50%;" class="fa fa-hand-o-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </header>
    <br />

    <div class="container">
        
        <dl class="dl-horizontal">

            <dt>
                For bookings <br />
                contact:
            </dt>

            <dd>
                <div class="alert alert-info">
                    For bookings contact: <br />
                    <br />
                    Ronald :7083238994<br />
                    Milion : 8668796992<br />
                    <br />
                    Email : <a href="mailto:reservations@goaqicktrips.com">reservations@goaqicktrips.com</a>
                </div>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Rules)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rules)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Notes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Notes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NoOfGuests)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NoOfGuests)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LocationInfo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LocationInfo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CancellationPolicy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CancellationPolicy)
            </dd>





        </dl>

        <hr />

        <div class="comments-container">
            <h2>Amenities</h2>
            <ul>
                @foreach (var amn in Model.MasterAmenities)
                {
                    <li class="amli">@amn.Amenity</li>
                }
            </ul>
        </div>
        <br />
        

            <div class="comments-container">
                <h2 style="color: white;">Reviews</h2>
                @foreach (var cmt in Model.Reviews)
                {
                    if (cmt.IsVisible == true)
                    {
                        <ul id="comments-list" class="comments-list">
                            <li>
                                <div class="comment-main-level">

                                    <div class="comment-avatar"><img src="~/Custom/Review.jpg" alt=""></div>
                                    <div class="comment-box">
                                        <div class="comment-head">
                                            <h5 style="color:black;">
                                                <b>Verified Guest</b> &nbsp;
                                                @String.Format("{0:dd/MMM/yyyy}", cmt.ReviewDate)
                                            </h5>

                                        </div>
                                        <div class="comment-content">
                                            @cmt.Review1
                                        </div>
                                    </div>

                                </div>
                                @foreach (var rpl in cmt.ReviewDetails)
                                {
                                    <ul class="comments-list reply-list">
                                        <li>
                                            <div class="comment-avatar"><img src="~/Custom/Review.jpg" alt=""></div>
                                            <div class="comment-box">
                                                <div class="comment-head">
                                                    <h6 class="comment-name"><b>Admin</b></h6>
                                                    <span>@String.Format("{0:dd/MMM/yyyy}", rpl.ReviewDate)</span>

                                                </div>
                                                <div class="comment-content">
                                                    @rpl.Reply
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                }
                            </li>
                        </ul>
                    }
                }

            </div>
        </div>

    

</div>
