@model IEnumerable<GoaQuickTrips.Booking>

@{
    ViewBag.Title = "BookedCustomer";
}
<style>
    .body-content {
        color: white;
        margin-top: 20px;
        padding: 30px;
        z-index: 10;
        background: rgba(0, 0, 0, 0.9);
        border-radius: 8px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    }
</style>
<h2>BookedCustomer</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status.Status1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.Status1)
        </td> 
     
    </tr>
    <tr>
        <td>
            <table class="table-bordered">
                @foreach (var bd in item.BookingDetails)
                {
                    <tr>
                        <td>Apartment:@Html.DisplayFor(modelItem => bd.ApartmentID)</td>
                        <td>Check in:@Html.DisplayFor(modelItem => bd.CheckIn)</td>
                        <td>Check Out:@Html.DisplayFor(modelItem => bd.CheckOut)</td>
                        <td>No Of guest:@Html.DisplayFor(modelItem => bd.NoOfGuests)</td>
                        <td>Price:@Html.DisplayFor(modelItem => bd.Price)</td>
                        <td>
                            <a href="~/Reviews/Create/@bd.ApartmentID">Give Feedback</a>
                        </td>
                    </tr>

                }
            </table>
        </td>
    </tr>
}

</table>
