@model PagedList.IPagedList<GoaQuickTrips.Booking>
@using PagedList.Mvc;




@{
    ViewBag.Title = "BookedCustomer";
}

<h2>Booking List</h2>
@using (Html.BeginForm("Index", "Bookings", FormMethod.Post))
{
    <label>Search for Booking Ref. Number:</label>
    <input type="text" name="BkRefID" value="" />
    <input type="submit" name="Search" value="Search" />
}

<table class="table">
    <tr>
        <th>Booking Ref.</th>
        <th>
            Pax Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().BookDate)
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr style="background-color:darkblue;">
            <td>
                BkRef- @item.BookingID
            </td>
            <td>
                @if (item.StatusID == 4)
                {
                    @:Blocked by admin 
                }
                else
                {
                    @item.BookedCustomers.First().Customer.FName
                    @item.BookedCustomers.First().Customer.SName
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Status1)
            </td>
            <td>
                @Html.ActionLink("Confirm", "Confirm", new { id = item.BookingID })
                @Html.ActionLink("Cancel", "Cancel", new { id = item.BookingID })
             
        </td>
        </tr>
        <tr>
            <td colspan="4">
                <table class="table-bordered">
                    <tbody>

                        @foreach (var bd in item.BookingDetails)
                        {
                            <tr>
                                <td><u>@Html.DisplayFor(modelItem => bd.Apartment.Name)</u></td>
                                <td>In: @Html.DisplayFor(modelItem => bd.CheckIn)</td>
                                <td>Out: @Html.DisplayFor(modelItem => bd.CheckOut)</td>
                                <td>Guest: @Html.DisplayFor(modelItem => bd.NoOfGuests)</td>
                                <td>Price: @Html.DisplayFor(modelItem => bd.Price)</td>
                                <td>Nights: @Html.DisplayFor(modelItem => bd.NoOfNights)</td>
                                <td>Total: @(bd.Price*bd.NoOfNights)</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <strong>List of Guests</strong>
                <table width=80%>
                        @foreach (var g in item.BookedCustomers)
                        {
                        <tr>
                            <td>@g.Customer.FName &nbsp; @g.Customer.SName</td>
                            <td width=10%></td>
                            <td>@g.Customer.Phone</td>
                            <td width=10%></td>
                            <td>@g.Customer.Email</td>
                        </tr>
                        }
                </table>

            </td>
        </tr>
    }

</table>
<center>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page}))
</center>