@model GoaQuickTrips.ReviewDetail

@{
    ViewBag.Title = "Reply";
}
<style>
    textarea {
        width: 300px;
        height: 60px;
    }
</style>
<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.Hidden("ReviewID", (int)ViewBag.ReviewID)

    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      

       

         
   

        <div class="form-group">
            <label class="control-label col-md-2">Reply:</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Reply, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Reply, "", new { @class = "text-danger" })
            </div>
        </div>

      

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
