@model IEnumerable<GoaQuickTrips.ReviewDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reply)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISvisible)
        </th>
 
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reply)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISvisible)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReviewDetailID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReviewDetailID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReviewDetailID })
        </td>
    </tr>
}

</table>
