@model GoaQuickTrips.MasterAmenity

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm((string)ViewBag.ReturnAction, "MasterAmenities", FormMethod.Post))
{
    @Html.AntiForgeryToken()    
    @Html.Hidden("ApartmentID", (int)ViewBag.ApartmentID)
    @Html.Hidden("Amenity")
    <div class="form-horizontal">
        <h4>MasterAmenity</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Select Amenity:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="AmenityName" name="AmenityName" style="color:black;" data-autocomplete-idholder="#Amenity" data-autocombo-url="@Url.Action("AutoCompleteAmenity")" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amenity)
        </th>
        <th></th>
    </tr>

    @foreach (MasterAmenity item in ViewBag.Amenity)
    {
        <tr>
            <td>
         
               @item.Amenity


            </td>
            <td>
               @Html.ActionLink("Delete", "DeleteAmenity", new { id = item.MasterID ,aptid=item.Apartments.First().ApartmentID})
            </td>
        </tr>
    }

</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}







